* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Red Hat Display';
    background-image: url("./images/pattern-background-desktop.svg");
    background-repeat: no-repeat;
    background-color: hsl(225, 100%, 94%);
    font-size: ;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
}

.card {
    max-width: 375px;
    margin: 0 auto;
    border-radius: 1.25rem;
    background: #ffff;
    margin-top: 3.125rem;
    overflow: hidden;
    /*font-size: 1.125rem;*/
}
    
.hero-section {
    margin-top: 40px;
    text-align: center;
}

.hero-title {
    font-weight: 900;
    color: hsl(223, 47%, 23%);
    margin-bottom: 1.25rem;
}

.hero-text {
    color:  hsl(224, 23%, 55%);
    line-height: 1.5;
    margin-bottom: 1.5625rem;
    padding-left: 30px;
    padding-right: 30px;
}

.plan {
    display: flex;
    /*font-size: 1rem;*/
    background-color: hsl(225, 100%, 98%);
    border-radius: .75rem;
    padding: 1.5625rem;
    align-items: center;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
}


.plan .music-note {
    margin-right: 1.5rem;
}

.plan h2 {
    /*font-size: 1rem;*/
    font-weight: 900;
    color: hsl(223, 47%, 23%);
    padding-bottom: 8px;
}

.plan p {
    /*font-size: .875rem;*/
    color: hsl(224, 23%, 55%);
}

.change-btn {
    font-weight: 700;
    color: hsl(245, 75%, 52%);
    margin-left: auto;
}

.change-btn:hover {
    text-decoration: none;
    color: hsl(223, 47%, 23%);
}

.payment-btn {
    background-color: hsl(245, 75%, 52%);
    border-radius: 12px;
    color: #ffff;
    width: 80%;
    padding: 1rem 0;
    margin: 1.875rem 0;
    font-weight: 700;
    border-style: none;
}

.payment-btn:hover {
    background-color: hsl(224, 23%, 55%);
}


.payment-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cancel-btn {
    color: hsl(224, 23%, 55%);
    text-decoration: none;
    padding-bottom: 40px;
    font-weight: 700;
}

.cancel-btn:hover {
    color: hsl(223, 47%, 23%);
}